{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if reminders %}
        <!-- Reminders Dashboard Page -->
        <h2>Car Reminders:</h2>

        <section id="dashboard">
            {% for reminder in reminders %}
                <div class="reminders">
                    <!-- reminder name -->
                    <h3 class="title">{{ reminder.reminder_name }}</h3>
                    <!-- insurance -->
                    <p class="description">{{ reminder.start_date }}</p>
                    <p class="description">{{ reminder.end_date }}</p>
                </div>
                <a href="{% url 'reminder delete' pk=reminder.pk %}">
                    <button type="submit">Delete</button>
                </a>
            {% endfor %}

        </section>

    {% else %}
        <h2>You don't have any reminders for this car.</h2>

    {% endif %}
    <section id="create">
        <div class="form">
            <button type="button" id="add-reminder-btn">Add Reminders</button>
            {% csrf_token %}
        </div>
    </section>

    <script>
        document.getElementById('add-reminder-btn').addEventListener('click', function () {
            window.location.href = '{% url 'create reminders' pk=car_id %}';
        });
    </script>



{% endblock %}