{% extends 'base.html' %}
{% load static %}
{% block content %}

        <section id="edit">

            <div class="form">

                <h1>Are you sure you want to delete your profile?</h1>

                <!-- Delete Profile Form -->
                <form method="post" action="{% url 'delete profile' pk=object.pk%}">

                    {% csrf_token %}
                    <!-- Confirm Button -->
                    <button type="submit">Yes</button>

                </form>
                <!-- End Delete Profile Form -->
            </div>

        </section>

<style>
    body {
        background-image: url('{% static 'images/about-us-2.jpg' %}');
        background-size: cover;
        background-position: center;
        min-height: 100vh; /* Set a minimum height of the viewport to ensure the image covers the screen */
        text-align: center;
        color: #ffffff;
    }

    /* Style the submit button */
    form button[type="submit"] {
        background-color: #ff0000;
        color: white;
        padding: 10px 40px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        outline: none;
    }

    form button[type="submit"]:hover {
        opacity: 0.8;
    }
</style>
{% endblock %}