{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Profile Details Section -->

    <section id="details">
        <div id="details-wrapper">

            <h2>Profile Details</h2>
            <br>
            <!-- if the user has a profile image -->
            {% if profile.image_url %}
                <img src="{{ profile.image_url }}"
                     alt="profile img"/>
            {% else %}
                <!-- if the user has NO profile image -->
                <img id="details-img" src="{% static '/images/default.jpg' %}" alt="profile img"/>
            {% endif %}
            <!-- user's full name -->

            <p id="details-title">{{ profile.full_name }}</p>


            <div id="info-wrapper">
                <div id="details-description">

                    <!-- email -->
                    <p>
                        {{ profile.user.email }}
                    </p>
                    {% if profile.phone_number %}
                        <p>
                            Phone number: {{ profile.phone_number }}
                        </p>
                    {% endif %}
                    {% csrf_token %}

                </div>
{#            {% if is_owner %}#}
                <!--Edit and Delete buttons -->
                <div id="action-buttons">
                    <a href="{% url 'edit profile' pk=profile.user.pk %}" id="edit-btn" class="blue-btn">Edit Profile</a>
                    <a href="{% url 'delete profile' pk=profile.user.pk %}" id="delete-btn" class="red-btn">Delete Profile</a>
                    <a href="{% url 'change pass' %}" id="change pass -btn" class="green-btn">Change pass</a>
                </div>
{#            {% endif %}#}
            </div>
        </div>
    </section>
    <style>
        body {
            background-image: url('{% static 'images/about-us-2.jpg' %}');
            background-size: cover;
            background-position: center;
            min-height: 100vh; /* Set a minimum height of the viewport to ensure the image covers the screen */
            text-align: center;
            color: #131313;
        }

    /* Style the submit button */
        form button[type="submit"] {
            background-color: #ff0000;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            outline: none;
        }

        a:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                border-radius: 4px;
                opacity: 0.8;
            }

            .red-btn{
                background-color: darkred ;
                color: #ffffff;
                padding: 5px 30px;
                border-radius: 4px;
                text-decoration: none;
            }

            /* Style for the 'Delete' button */
            .blue-btn {
                background-color: #3030d5;
                color: white;
                padding: 5px 30px;
                border-radius: 4px;
                text-decoration: none;
            }

            /* Style for the 'Add reminders' button */
            .green-btn {
                background-color: #04a606;
                color: white;
                padding: 5px 30px;
                border-radius: 4px;
                text-decoration: none;
            }
    </style>
{% endblock %}