{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car-Manager</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
<div class="container mb-5 mt-2">
    <div class="jumbotron">
        <img style="width: 50%"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2GB36kfTG3XDg2Ntu0gVVr_LB4HaYcKmXEh5Ocdd1uw&s"/>
        <h1 class="display-4">500 Server Not Found</h1>
        <a href="{% url 'home page' %}" class="btn btn-lg btn-secondary">Go to home page</a>
    </div>
</div>
</body>
</html>