{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h2 style="text-align: center; color: blue;">We sent your message</h2>
    <p>You can send us another in the <a href="{% url 'contact' %}" id="contact-btn" class="blue-btn">Contact page</a></p>
    <br>
    <p>or you can go to: <a href="{% url 'home page' %}" id="home-btn" class="green-btn">Home page</a></p>
<style>
    body {
        background-image: url('{% static 'images/success-email-2.jpg' %}');
        background-size: cover;
        background-position: center;
        min-height: 100vh; /* Set a minimum height of the viewport to ensure the image covers the screen */
        text-align: center;
    }

    a:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            opacity: 0.8;
        }

        /* Style for the 'Edit' button */
        .blue-btn {
            background-color: #3030d5;
            color: white;
            padding: 5px 30px;
            border-radius: 4px;
            text-decoration: none;
        }

        /* Style for the 'Delete' button */
        .green-btn {
            background-color: #04a606;
            color: white;
            padding: 5px 30px;
            border-radius: 4px;
            text-decoration: none;
        }

</style>

{% endblock %}
