{% extends 'base.html' %}
{% load static %}
{% block content %}

        <h1>
            Car Reminder - Your Ultimate Car Management App
        </h1>
        <div>
            Revolutionizing the way you manage your cars and never miss a reminder again!
        </div>
        <div>
            Welcome to Car Reminder, a cutting-edge Django web application designed with a passion
            for technical innovation and the love of cars.
        </div>
        <div>
            As a Python developer, I created this app to help fellow
            car enthusiasts like you stay on top of car maintenance and never forget important reminders.
        </div>

        <h2>
            Key Features:
        </h2>
        <div>
            <b>1. Personalized Car Profiles:</b>
            Create multiple car profiles and keep track of each
            vehicle's unique information, such as make, model, year, and more.
        </div>

        <div>
            <b>2. Most important Reminders:</b>
            Set up your reminders for every car in your fleet.
            You can choose between reminders for insurance,tool taxes,periodic technical inspection or even all of them.
            Car Reminder ensures you never miss a beat.
        </div>

        <div>
            <b>3. User-Friendly Dashboard:</b>
            Experience a sleek and intuitive interface that simplifies
            managing all your cars and reminders in one central location.
        </div>

        <div>
            <b>4. Email Notifications:</b>
            Receive timely email notifications, ensuring your always informed about upcoming service
            appointments and other important events.
        </div>
        <div>
            <b>5. Secure and Private:</b>
            Rest assured that your car and personal data are safe with us. Car Reminder follows the
            highest security standards to protect your information.
        </div>

        <h3>Why Choose Car Reminder?</h3>
        <div>
            We understand that your cars are not just vehicles; they are an extension of your personality and a part of
            your
            lifestyle. Car Reminder is designed with this sentiment in mind, offering you a comprehensive solution to
            streamline
            your car management and maintenance needs.
        </div>
        With Car Reminder, you can say goodbye to the stress of remembering important expiration dates and welcome a
        hassle-free experience that keeps your cars running smoothly, year after year.
        <h4>
            About the Developer:
        </h4>
        As a devoted Python developer with a genuine passion for technical advancements, creating Car Reminder was a
        labor
        of love. My goal is to continually enhance this app, incorporating the latest technologies and user feedback,
        ensuring it remains a reliable companion for car owners everywhere.
        Experience the convenience and efficiency of Car Reminder today. Start managing your cars like a pro and never
        overlook a car service again!
        Join us in this exciting journey of car management and take control of your automotive world with Car Reminder.
        <div>
            Finally ,don't hesitate to reach out if you have any questions or suggestions.
        </div>
        <p>
            Get started now and make your car's well-being a top priority!
        </p>
{#    </section>#}
    <style>
        body {
            background-image: url('{% static 'images/about-us-3.jpg' %}');
            background-size: cover;
            background-position: center;
            min-height: 100vh;/* Set a minimum height of the viewport to ensure the image covers the screen */
            text-align: center;
            color: beige;
        }
    </style>
{% endblock %}