{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if cars %}
        <!-- Dashboard Page -->
        <h2>All Cars:</h2>
        <section id="dashboard">
            {% for car in cars %}
                <div class="cars">
                    <!-- car name -->
                    <h3 class="title">{{ car.car_name }}</h3>
                    <!-- car plate number -->
                    <p class="description">{{ car.plate_number }}</p>

                    <a href="{% url 'car details' pk=car.pk %}">
                        <button type="submit">Details</button>
                    </a>
                    <a href="{% url 'reminders dashboard' pk=car.pk %}">
                        <button type="submit">My Reminders</button>
                    </a>
                </div>
            {% endfor %}

        </section>

    {% else %}
        <h2>No cars into your dashboard.</h2>

    {% endif %}
    <section id="create">
        <div>
            <button type="button" id="add-car-btn">Add New Car</button>
        </div>


        {% csrf_token %}
    </section>
    <script>
        document.getElementById('add-car-btn').addEventListener('click', function () {
            window.location.href = '{% url 'create car'%}';
        });
    </script>



{% endblock %}