{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Profile Details Section -->
    <section id="details" style="display: flex; justify-content: center;">
        <div id="details-wrapper">
            <h2>Car Details</h2>

            <p id="details-title" style="font-size: 35px; font-weight: bold; font-family: 'Arial', sans-serif;">
                {{ cars.car_name }}
            </p>

            <div id="info-wrapper">
                <div id="details-description" style="font-size: 30px; font-family: 'Abyssinica SIL', sans-serif;">
                    <p>{{ cars.plate_number }}</p>
                    <p>{{ cars.vin_number }}</p>
                </div>

                <!--Edit and Delete buttons -->
                <div id="action-buttons">
                    <a href="{% url 'car edit' pk=cars.pk %}" id="edit-btn" class="blue-btn">Edit</a>
                    <a href="{% url 'car delete' pk=cars.pk %}" id="delete-btn" class="red-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>

    <style>
        body {
        background-image: url('{% static 'images/my-cars.jpg' %}');
        background-size: cover;
        background-position: center;
        min-height: 100vh;/* Set a minimum height of the viewport to ensure the image covers the screen */
        text-align: center;
        color: white;
        }
        /* Add rounded box-shadow when hovering over links */
        a:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            opacity: 0.8;
        }

        /* Style for the 'Edit' button */
        .blue-btn {
            background-color: #3030d5;
            color: white;
            padding: 5px 30px;
            border-radius: 4px;
            text-decoration: none;
        }

        /* Style for the 'Delete' button */
        .red-btn {
            background-color: #d02d2d;
            color: white;
            padding: 5px 30px;
            border-radius: 4px;
            text-decoration: none;
        }

    </style>
{% endblock %}

